<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Document</title>
  <style>
  .img_thumb {
    width: 27%;
    height: 35%;
    margin : 2%;
    margin-left: 3.5%;
    box-shadow: 10px 8px 8px #484848;
  }
  .recimg {
    width: 27%;
    height: 35%;
    margin : 2%;
    margin-left: 3.5%;
  }
  .updown {
    border: 0.0001px solid #adb5bd;
    width: 0.0001px;
    height: 100vh%;
  }

  </style>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<div style="margin-left: 100px; display: flex;">
  <div style="margin-top: 60px; text-align: center; background-color: #4285F4 ; width: 40%; height: 100%; border: 5px #4285F4 solid; box-shadow: 10px 8px 8px black; border-radius: 20px;">
    <br>
    <h1 style="color:white"> 박스오피스 파워랭킹</h1>
      
      {% for movie in movies %}
      <div class="mx-2 my-3" style="display: flex; text-align: center; justify-content:left; background-color:white; border: 2px black solid; border-radius: 14px;">
      <div style="display:inline-block; border: 1px black solid; border-radius: 10px; width:15vh;">
        <div class="d-flex justify-content-end align-items-center">
        {% if movie.rank >= 10 %}
          {% if movie.rank_inten > 0 %}
            <a style="color:blue; padding-top: 10%; padding-right: 5%;">+{{ movie.rank_inten }}</a>
          {% elif movie.rank_inten < 0 %}
            <a style="color:red; padding-top: 10%; padding-right: 5%;">{{ movie.rank_inten }}</a>
          {% else %}
            <a style="padding-top: 10%; padding-right: 5%;">{{ movie.rank_inten }}</a>
          {% endif %}
            <a style="margin-right: 30%;font-weight: bold; font-size: 40px">{{ movie.rank }}</a>
        {% else %}
            {% if movie.rank_inten > 0 %}
            <a style="color:blue; padding-top: 10%; padding-right: 10%;">+{{ movie.rank_inten }}</a>
            {% elif movie.rank_inten < 0 %}
              <a style="color:red; padding-top: 10%; padding-right: 10%;">{{ movie.rank_inten }}</a>
            {% else %}
              <a style="padding-top: 10%; padding-right: 10%;">{{ movie.rank_inten }}</a>
            {% endif %}
            <a style="margin-right: 35%;font-weight: bold; font-size: 40px">{{ movie.rank }}</a>
          {% endif %}
        </div>
      </div>
        <span class="mt-3" style="margin-left: 10%">
        <h3>{{ movie.title }}</h3>
        </span>
      </div>
      {% endfor %}
  </div>
  <div class="updown" style="margin-left:10%;"></div>
  <div style=" width: 50%; height: 1000px">
    <h3 style="margin-left: 3%; margin-top: 2%">이맘때쯤 유행했던 영화</h3>
    <hr>
    {% for img in imgsrc %}
      {{ img|safe }}
      {% comment %} {% for pic in img %}
        {{ pic }}
      {% endfor %} {% endcomment %}
    {% endfor %}
    <br><br><br><br>  
    <h3 style="margin-left: 20px;">당신에게 추천하는 영화</h3>
    <hr>
    {% for img in recimg %}
      <img style="box-shadow: 10px 7px 7px #484848;"class="recimg" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/{{ img }}" alt="">
    {% endfor %}
  </div>
</div>
{% endblock content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>