{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
.pic {
  opacity: 80%;
  width:100vw; 
  height:100vh;

}

.pic_text {
  position : absolute;
  top: 38%;
  left: 30%;
  width:100%;
}
</style>
{% endblock style %}

{% block content %}
<body style="margin:0; overflow-x:hidden; overflow-y:hidden;">
<div style="position:relative;">
  <img class="pic"src="{% static 'set.jpg'%} " alt="">
  <div class="pic_text">
    <button id="startButton" type="button" style="box-shadow: 10px 8px 8px #484848; margin-left: 12%; width:15%;" class="my-5 btn btn-primary">시작하기</button>
    <button id="questionA" type="button" style="display:none;" class="mb-5 btn btn-primary"></button></a>
    <br>
    <button id="questionB" type="button" style="display:none;" class="btn btn-primary"></button></a>
</div>
</body>
{% endblock %}
{% block script %}
<script>
  const startButton = document.querySelector('#startButton')
  const questionA = document.querySelector('#questionA')
  const questionB = document.querySelector('#questionB')
  let questionList = []
  let count = 1
  function firstSelector () {
    count = count*2
    if (count < 32) {
      Q = questionList[count-1].content.split('vs')
      Q1 = Q[0].trim()
      Q2 = Q[1].trim()
      questionA.innerText = Q1
      questionB.innerText = Q2
    } else {
      const requestLastUrl = `/movies/lolresult/${count}`
      axios.get(requestLastUrl)
      setTimeout(function () {
        location.href = `/movies/lolresult/${count}` 
      }, 0);
    }

  }
  function secondSelector() {
    count = (count*2) + 1
    if (count < 32) {
      Q = questionList[count-1].content.split('vs')
      Q1 = Q[0].trim()
      Q2 = Q[1].trim()
      questionA.innerText = Q1
      questionB.innerText = Q2
    } else {
      const requestLastUrl = `/movies/lolresult/${count}`
      axios.get(requestLastUrl)
      setTimeout(function () {
        location.href = `/movies/lolresult/${count}` 
      }, 0);
    }
  }

  startButton.addEventListener('click', (e) =>{
    const requestUrl = '/movies/lol_recommend/'
    axios.get(requestUrl)
      .then(res =>{
        questionList = res.data.questions
        Q = questionList[count-1].content.split('vs')
        Q1 = Q[0].trim()
        Q2 = Q[1].trim()
        console.log(questionList)
        startButton.setAttribute('style', 'display:none;')
        questionA.setAttribute('style', 'width: 40%; box-shadow: 10px 8px 8px #484848;')
        questionA.innerText = Q1
        questionB.setAttribute('style', 'width: 40%; box-shadow: 10px 8px 8px #484848;')
        questionB.innerText = Q2
        questionA.addEventListener('click', firstSelector)
        questionB.addEventListener('click', secondSelector)
      })
  
  })
</script>
{% endblock script %}
</html>


