{% extends 'accounts/base.html' %}
{% load account %}
{% block content %}
<form method="POST" id="forgot_password_form" action="{% url 'account_reset_password' %}">
  <div class="fs-2 fw-bold mb-4" style="color: #484848;">
      비밀번호 찾기
  </div>
  {% csrf_token %}
  <div>
    <label for="exampleFormControlInput1" class="form-label">이메일을 입력해주세요</label>
    <input style="width: 80%; margin-left: 11%;" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" action="input" name="email" autocomlete="email" required>
  </div>
  <a class="btn mt-3 mb-1 mx-3 text-black border border-2" href="{% url 'articles:index' %}" role="button" style="background-color: #FFFFFF; width: 37%; height: 45px;"><strong>뒤로가기</strong></a>
  <button type="submit" class="btn mt-3 mb-1 text-white" style="background-color: #1EA1F7; width: 37%; height: 45px;"><strong>초기화</strong></button>
</form>
{% endblock content %}
