{% extends 'accounts/base.html' %}
{% load socialaccount %}

{% block content %}
<br>
<br>
<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn mt-3 mb-1 text-white" style="background-color: #1EA1F7; width: 50%; height: 45px;"><strong>로그인</strong></button>
</form>
<br>
<br>
<br>
<p>간편 로그인</p>
{% load static %}
<ul class="d-flex justify-content-between mt-1 mx-5 px-3 border border-2">
  <a href="{% provider_login_url "kakao" next="/articles/" %}">
    <img src="{% static 'kakao.png' %}" alt="카카오" style="height: 35px; width: 35px;" class="d-flex my-2">
  </a>
  <a href="{% provider_login_url "github" next="/articles/" %}">
    <img src="{% static 'github.png' %}" alt="깃허브" style="height: 35px; width: 35px;" class="d-flex my-2">
  </a>
  <a href="{% provider_login_url "google" next="/articles/" %}">
    <img src="{% static 'google.png' %}" alt="구글" style="height: 35px; width: 35px;" class="d-flex my-2">
  </a>
  <a href="{% provider_login_url "naver" next="/articles/" %}">
    <img src="{% static 'naver.png' %}" alt="네이버" style="height: 35px; width: 35px;" class="d-flex my-2">
  </a>
</ul>
<br>
<div class="d-flex flex-column align-items-center">
  <div class="my-1">
    MOVIE.GG에 처음이세요? <a class="text-decoration-none" href="{% url 'accounts:signup' %}" style="color: #1EA1F7;">회원가입하기</a>
  </div>
</div>
<br>
{% endblock content %}

