{% extends 'accounts/base.html' %}

{% block content %}
<br>
<form action="" method="POST">
  {% csrf_token %}
  <div class="form-floating mb-3" style="width: 80%; margin-left: 12%;">
    {{ form.old_password }}
    <label for="floatingOldPassword">기존 비밀번호</label>
  </div>
  <div class="form-floating mb-3" style="width: 80%; margin-left: 12%;">
    {{ form.new_password1 }}
    <label for="floatingNewPassword1">새 비밀번호</label>
  </div>
  <div class="form-floating mb-3" style="width: 80%; margin-left: 12%;">
    {{ form.new_password2 }}
    <label for="floatingNewPassword2">새 비밀번호 확인</label>
  </div>
  <a class="btn mt-3 mb-1 mx-3 text-black border border-2" href="{% url 'articles:index' %}" role="button" style="background-color: #FFFFFF; width: 35%; height: 45px;"><strong>뒤로가기</strong></a>
  <button type="submit" class="btn mt-3 mb-1 text-white" style="background-color: #1EA1F7; width: 35%; height: 45px;"><strong>비밀번호 변경</strong></button>
</form>
<br>
<br>
{% endblock content %}
