{% extends 'accounts/base.html' %}

{% block content %}
<br>
<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <a class="btn mt-3 mb-1 mx-3 text-black border border-2" href="{% url 'articles:index' %}" role="button" style="background-color: #FFFFFF; width: 40%; height: 45px;"><strong>뒤로가기</strong></a><button type="submit" class="btn mt-3 mb-1 text-white" style="background-color: #1EA1F7; width: 40%; height: 45px;"><strong>비밀번호 변경</strong></button>
</form>
<br>
<br>
{% endblock content %}
