{% extends 'base.html' %}
{% load mathfilters %}
{% block style %}
<style>

.big_img {
  width: 45%;
  height: 45%;
  border-radius: 70%;
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1 / 2;
  grid-row: 1;
}

.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.three {
  grid-column: 1;
  grid-row: 2 / 5;
}

body{ 
  -ms-overflow-style: none; 
} 

::-webkit-scrollbar { 
  display: none; 
}

</style>
{% endblock style %}

{% block content %}

<div class="wrapper">
  <div class="one">
    <div class="d-flex justify-content-center mt-4">
      {% if user.profile_image %}
        <img src="{{ person.profile_image.url }}" alt="" class="big_img">
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="45%" height="45%" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
      {% endif %}
    </div>
    <br>
    <div class="d-flex justify-content-center fw-bold fs-5">
      LV . {{ request.user.exp|intdiv:100 }}
    </div>
    <div class="d-flex justify-content-center fw-bold fs-4">
      {{ request.user.nickname }}
    </div>
  </div>

  <div class="two">
    <div class="d-flex justify-content-center">
      <h1>내가 쓴 글 모음</h1>
    </div>
    <div class="d-flex justify-content-evenly">
      <a class="btn mt-3 mb-1 mx-3 text-black border-bottom border-4" href="{% url 'accounts:profile_review' request.user.pk %}" role="button" style="background-color: #F3F5F7; width: 140px; height: 45px;"><strong>리뷰게시판</strong></a>
      <a class="btn mt-3 mb-1 mx-3 text-muted" href="{% url 'accounts:profile_freeboard' request.user.pk %}" role="button" style="background-color: #F3F5F7; width: 140px; height: 45px;"><strong>자유게시판</strong></a>
    </div>
    <div style="overflow-y:auto; overflow-x:hidden; width:100%; height:65%;">
      {% for review in request.user.review_set.all %}
        <a href="{% url 'articles:review_detail' review.pk %}">
          <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/{{ review.movie.poster_path }}" alt="포스터" style="height: 75%;" class='d-flex float-start mx-4 my-3'>
        </a>
      {% endfor %}
    </div>
  </div>
  
  <div class="three">
    <div class="d-flex justify-content-center my-4">
      <h1>나에게 달린 최근 댓글 모음</h1>
    </div>
    <div>
      <div style="display: flex; flex-flow: column; align-items: center; border: 1px solid #C5CBD0; width: 80%; min-height: 49px; margin-top: 20px; margin-left: 70px">
        {% for review in request.user.review_set.all %}
          {% for comment in review.reviewcomment_set.all %}
            <div style="display: flex; flex-flow: column; width: 100%; height: 100%; border-top: 1px solid #C5CBD0;">
              <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; height: 100%;">
                <div style="display: flex;">
                  <div style="color: #5B835F; margin: 0 10px;">
                    {{ comment.user.nickname }}
                  </div>
                  <div style="font-size: 12px; display: flex; align-items: center; margin-right: 10px;">
                    LV.{{ comment.user.exp|intdiv:100  }}            
                  </div>
                </div>
              </div>
              <div style="margin: 11px;">
                {{ comment.content }}
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}