{% extends 'accounts/base.html' %}

{% block content %}
<br>
<form action="" method="POST">
  {% csrf_token %}
  <div class="form-floating mb-3" style="width: 80%; margin-left: 12%;">
    {{ form.username }}
    <label for="floatingInput">아이디</label>
  </div>
  <div class="form-floating mb-3" style="width: 80%; margin-left: 12%;">
    {{ form.nickname }}
    <label for="floatingNickname">닉네임</label>
  </div>
  <div class="form-floating mb-3" style="width: 80%; margin-left: 12%;">
    {{ form.first_name }}
    <label for="floatingFirstname">이름</label>
  </div>
  <div class="form-floating mb-3" style="width: 80%; margin-left: 12%;">
    {{ form.password1 }}
    <label for="floatingPassword2">비밀번호</label>
  </div>
  <div class="form-floating mb-3" style="width: 80%; margin-left: 12%;">
    {{ form.password2 }}
    <label for="floatingPassword2">비밀번호 확인</label>
  </div>
  <a class="btn mt-3 mb-1 mx-3 text-black border border-2" href="{% url 'articles:index' %}" role="button" style="background-color: #FFFFFF; width: 35%; height: 45px;"><strong>뒤로가기</strong></a>
  <button type="submit" class="btn mt-3 mb-1 text-white" style="background-color: #1EA1F7; width: 35%; height: 45px;"><strong>로그인</strong></button>
</form>
<br>
<br>
<div class="d-flex flex-column align-items-center">
  <div class="my-1">
    이미 회원이신가요? <a class="text-decoration-none" href="{% url 'accounts:login' %}" style="color: #1EA1F7;">로그인하기</a>
  </div>
</div>
{% endblock content %}
