{% extends 'base.html' %}

{% block content %}
<div style="display: none;">
  {{ freeboard.update_counter }}
</div>
<div>
  <div>
    닉네임: {{ freeboard.user.nickname }}
  </div>
  <div>
    작성일: {{ freeboard.created_at }}
  </div>
  <div>
    조회수: {{ freeboard.hit }}
  </div>
</div>
<div>
  {{ freeboard.title }}
</div>
<div>
  {{ freeboard.content }}
</div>
<div>
  {% if freeboard.image %}
    <img src="{{ freeboard.image.url }}" alt="이미지">
  {% endif %}
</div>
<div>
  {{ freeboard.like_users.count }}
</div>

{% if request.user.is_authenticated %}
  <form action="{% url 'articles:free_comment_create' freeboard.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit">
  </form>
{% else %}
  <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
{% endif %}

{% for comment in comments %}
  <div>
    {{ comment.user.nickname }}  {{ comment.content }}
  </div>
{% empty %}
  <p><b>댓글이 없어요..</b></p>
{% endfor %}
{% endblock content %}