{% extends 'base.html' %}

{% block style %}
<style>
  .nav-freeboard {
    background-color: #4285F4;
  }

  .articles-content {
    min-height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }

  .articles-content-box {
    min-height: 800px;
    width: 60%;
    background-color: white;
  }

  .articles-content-table {
    width: 100%;
    height: 85%;
  }
  
  .articles-table-center {
    text-align: center;
  }

  tr {
    border-bottom: 1px solid #C5CBD0;
    height: 67.5px;
  }
</style>
{% endblock style %}

{% block content %}
<div class="articles-content">
  <div class="articles-content-box">
    <div style="padding: 10px 20px; font-weight: bold; color: #484848; background-color: #F1F1F1;">
      자유게시판
    </div>
    <table style="border-top: 1px solid #C5CBD0;" class="articles-content-table border-collapse: collapse;">
      <thead>
        <tr style="height: 55px;">
          <th class="articles-table-center" style="width:10%; padding: 15px 0;">
            <span>번호</span>
          </th>
          <th class="articles-table-center" style="width:40%">
            <span>제목</span>
          </th>
          <th class="articles-table-center" style="width:15%">
            <span>글쓴이</span>
          </th>
          <th class="articles-table-center" style="width:15%">
            <span>등록일</span>
          </th>
          <th class="articles-table-center" style="width:10%">
            <span>조회수</span>
          </th>
          <th class="articles-table-center" style="width:10%">
            <span>추천수</span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for freeboard in page_obj %}
          <tr>
            <td class="articles-table-center">
              <span>{{ freeboard.pk }}</span>
            </td>
            <td>
              <a style="text-decoration: none; color: #484848;" href="{% url 'articles:freeboard_detail' freeboard.pk %}">
                <div style="font-size: 20px;">
                  {% if freeboard.title|length > 20 %}
                    <span>{{ freeboard.title|slice:":20" }}...</span>
                  {% else %}
                    <span>{{ freeboard.title }}</span>
                  {% endif %}
                </div>
              </a>
            </td>
            <td>
              <span style="margin: 0 20px;">{{ freeboard.user.nickname }}</span>
            </td>
            <td class="articles-table-center">
              <span>{{ freeboard.created_at.date.year }}-{{ freeboard.created_at.date.month }}-{{ freeboard.created_at.date.day }}</span>
            </td>
            <td class="articles-table-center">
              <span>{{ freeboard.hit }}</span>
            </td>
            <td class="articles-table-center">
              <span>{{ freeboard.like_users.count }}</span>
            </td>
          </tr>
        {% endfor %}

        {% if page_number == page_obj.paginator.num_pages %}
          {% for _ in n %}
            <tr>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center" style="padding: 30px; background-color: #F1F1F1;">
      <div style="margin-left: 25px;"></div>
      <nav aria-label="Page navigation">
        <ul class="pagination" style="margin: 0px;">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if num == page_number %}
              <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
          {% endif %}
        </ul>
      </nav>
      <div style="margin-right: 20px;">
        <a class="btn" style="background-color: #4285F4; color: white;" href="{% url 'articles:freeboard_create' %}">글쓰기</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}