{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
  html, body {
    height: 100%;
    background-color: #4285F4;
  }

  .nav-index {
    background-color: #4285F4;
  }

  .index-content {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .index-logo {
    margin: 50px 0;
  }

  .index-search-form {
    background-color: white;
    padding: 8px;
    width: 600px;
    display: flex;
    justify-content: space-between;
  }

  .index-search-input {
    border: 0px;
    width: 100%;
  }

  .index-article {
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .index-recommend {
    box-sizing: border-box;
    width: 50%;
    border-right: 2px solid #D0C7C7;
  }

  .index-review {
    box-sizing: border-box;
    width: 50%;
  }

  .index-review-content {
    height: 20%;
    border-bottom:
    1px solid #D0C7C7;
    display: flex;
  }

  .index-review-title {
    text-decoration: none;
    color: #484848;
    font-weight: bold;
  }

</style>
{% endblock style %}

{% block content %}
<div class="index-content">
  <div class="index-logo">
    <img src="{% static 'moviegg.png' %}" alt="로고">
  </div>
  <form class="index-search-form" action="{% url 'articles:search' %}" method="GET">
    <input class="index-search-input" type="search" placeholder="검색어를 입력하세요..." aria-label="Search" name="word" value="{{word}}">
    <button class="btn" type="submit" style="background-color: #08A1F9; color: white; border-radius: 0; font-weight: bold;">.GG</button>
  </form>
  <div class="index-article">
    <div class="index-recommend">
      <div style="border-bottom: 2px solid #D0C7C7; padding: 3px; font-weight: bold;">
        MOVIE.GG 추천영화
      </div>
      <div style="height: calc(100% - 32px);">
        {% for movie in top_movies %}
          <div class="index-review-content" style="padding: 5px;">
            <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/{{ movie.poster_path }}" alt="포스터" style="height: 100%;">
            <div style="margin-left: 10px; display: flex; align-items: center;">
              <a class="index-review-title" href="{% url 'movies:movie_detail' movie.pk %}">
                {{ movie.title }}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="index-review">
      <div style="border-bottom: 2px solid #D0C7C7; padding: 3px; font-weight: bold;">
        Best Review
      </div>
      <div style="height: calc(100% - 32px);">
        {% for review in top_reviews %}
          <div class="index-review-content" style="padding: 5px;">
            <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/{{ review.1.movie.poster_path }}" alt="포스터" style="height: 100%;">
            <div style="margin-left: 10px; display: flex; align-items: center;">
              <a class="index-review-title" href="{% url 'articles:review_detail' review.1.pk %}">
                {{ review.1.title }}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}